
backcall==0.2.0

beautifulsoup4==4.10.0
Brotli==1.0.9
bs4==0.0.1
cachetools==4.2.4
certifi==2021.10.8

click==8.0.3
4
cycler==0.10.0
dash==2.0.0
dash-bootstrap-components==1.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
ddtrace==0.55.4

Flask==2.0.1
Flask-Assets==2.0
Flask-Compress==1.10.1
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
flask-restx==0.5.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1


grpcio==1.42.0
gunicorn==20.1.0

Jinja2==3.0.1
joblib==1.1.0
jsonschema==4.3.1

keras==2.7.0

Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1

numpy==1.21.4


regex==2021.11.10
requests==2.26.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.2
scikit-learn==1.0
scipy==1.7.1

sklearn==0.0
sniffio==1.2.0
soupsieve==2.3.1
SQLAlchemy==1.4.23
starlette==0.16.0
statsmodels==0.13.1
stockstats==0.3.2
tenacity==8.0.1
tensorboard==2.7.0

tensorflow==2.7.0

torch==1.10.0

virtualenv==20.10.0

wcwidth==0.2.5
webassets==2.0
Werkzeug==2.0.2
wrapt==1.13.3
WTForms==2.3.3

zipp==3.6.0