{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">Demo App nhân biết mã chứng khoáng tiềm năng hay bât thường</p>
  <a href="/dashapp/" class="dash-link">
    <span>Biểu đồ</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}
